.idea/
venv/
venv2/
.DS_Store
Part A/Question 2/business_categories_small.csv
Part A/Question 2/business_city.csv
Part A/Question 2/business_small.csv
Part A/Question 2/user_small.csv
Part A/Question 2/user_friendship.csv
Part A/Question 2/review_small.csv

