.idea/
venv/
venv2/
.DS_Store
Part A/Question 2/buisness_categories_small.csv
Part A/Question 2/buisness_city.csv
Part A/Question 2/buisness_small.csv
Part A/Question 2/user_small.csv
Part A/Question 2/user_friendship.csv
Part A/Question 2/review_small.csv

